.weather-container {
  background-color: #07af5e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
}
.weather-info {
  width: 70%;
  text-align: left;
  padding-left: 20px;
}

.weather-temperature {
  font-size: 60px;
  font-weight: bold;
}

.weather-description {
  font-size: 18px;
  text-transform: capitalize;
}

.weather-date {
  font-size: 16px;
  margin: 10px 0;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather_prediction p {
  margin: 0;
}

.weather_predictions {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 10px 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
